@import "global";

body {
    background-color: lightgrey;
}

.navStyle {
    border-bottom: solid 5px rgb(127,255,0);
    font-family: 'Roboto', sans-serif;
}

.wildTitle {
    font-family: 'Gochi Hand', cursive;
}