{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue!</h1>

     templates/index.html.twig
    <a href="{{ path('wild_index', { 'slug': "walking-dead" }) }}">
        Acces to Walkind Dead
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Et hop on voit tout les programmes
    </a>
    <br>
    <a href="{{ path('wild_index', { 'categoryName': "horreur" }) }}">
        Et les 3 derniers de la categorie horreur
    </a>



{% endblock %}

